html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'PT Serif', serif;
    /*Chlorine blue
    background-color: #0CAFFF; */
    /*Cornglorwe blue*/
    --bg-color: #340628;
    --second-bg-color: #FFF3FD;
    --texto: #101f42;
    text-align: center;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .lds-heart {
    /* change color here */
    color: #a02e70
  }
  .lds-heart img{
    width: 40%;
    animation: lds-heart 5s infinite
  }

 
  @keyframes lds-heart {
    0% {
      transform: scale(0.9);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(0.9);
    }
  }
    
#centrado{
    height: 100vh;
    background-color: #101F42;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 10rem;
}
h2{
    font-size: 5rem;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
}
h3{
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
    margin: 0;
}
h4{
    font-size: 4rem;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
}
p{
    font-size: 3rem;
    margin: 2rem 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.letter-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    flex-direction: column; /* Para alinear el texto arriba del sobre */
}
.invitacion{
    position: fixed;
}
.instruction-text {
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 20px;
    cursor: default; /* Indica que no es interactivo en sí mismo */
}
.envelope-wrapper {
            position: relative;
            width: 300px;
            height: 200px;
            perspective: 1000px;
            animation: scaleEnvelope 2s infinite alternate; /* Nueva animación de escala */
            cursor: pointer; /* Indica que es क्लिकable */
}
@keyframes scaleEnvelope {
            0% {
                transform: scale(1);
            }
            100% {
                transform: scale(1.1); /* Ligeramente mayor para el efecto de "latido" */
            }
}
.envelope {
            position: relative;
            width: 100%;
            height: 100%;
            background-color: #101F42;
            border-radius: 8px;
            transform-style: preserve-3d;
            transition: transform 1s ease-in-out; /* Mantenemos la transición para la apertura */
}
        /* Solapas básicas (sin cambios) */
        .flap {
            position: absolute;
            background-color: #101F42;
            border-radius: 8px;
            transform-origin: bottom;
            z-index: 2;
            overflow: hidden;
        }
        .top.flap {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            width: 100%;
            height: 50%;
            top: 0;
            left: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            transform-origin: center bottom;
            z-index: 3;
            transform: rotateX(0deg);
            transition: transform 0.8s ease-in-out;
        }
        .bottom.flap img{
            width: 40%;
        }
        .left.flap, .right.flap {
            width: 50%;
            height: 100%;
            top: 0;
            background-color: #101F42;
            z-index: 1;
        }
        .left.flap {
            left: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            transform-origin: right center;
            transform: rotateY(0deg);
            transition: transform 0.8s ease-in-out;
        }
        .right.flap {
            right: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            transform-origin: left center;
            transform: rotateY(0deg);
            transition: transform 0.8s ease-in-out;
        }
        .bottom.flap {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 50%;
            bottom: 0;
            left: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            transform-origin: center top;
            z-index: 1;
        }
        /* La carta (sin cambios iniciales) */
        .letter {
            position: absolute;
            width: 90%;
            height: 90%;
            background-color: #ffffff;
            top: 5%;
            left: 5%;
            border-radius: 5px;
            z-index: 0;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            transform: translateY(10px); /* Inicialmente fuera de la vista */
            transition: transform 1s ease-in-out 0.3s, opacity 0.5s ease-in-out 0.3s;
            opacity: 0;
            background-image: url("/img/fotos-danis/mainFondo.jpeg");
            background-repeat: no-repeat;
            background-attachment: local;
            background-size: cover;
            background-position: top;  
        }
        /* Clase para el sobre abierto */
        .envelope-wrapper.open .top.flap {
            transform: rotateX(180deg);
            z-index: 0;
        }
        .envelope-wrapper.open .left.flap {
            transform: rotateY(-90deg);
        }
        .envelope-wrapper.open .right.flap {
            transform: rotateY(90deg);
        }
        .envelope-wrapper.open .letter {
            transform: translateY(-100px);
            opacity: 1;
        }
        /* Escalado a 2x durante 4s */
        .envelope-wrapper.expand {
            animation: scaleAndHide 4s forwards ease-in-out;
        }
        /* Escala con ocultamiento */
        @keyframes scaleAndHide {
            0% {

                transform: scale(1);
            }
            100% {
                transform: scale(2);
            opacity: 0;
        }
}
#vestimenta h2, #date-info h2, #galeria h2, #mensaje h2{
    background-color: var(--bg-color);
}
.fill-1{
    fill: var(--bg-color);
    padding: 0 0 2rem 0;
}
.fill-2{
    fill: var(--second-bg-color);
    padding: 0 0 2rem 0;
    /*transform:3rotate(180deg);*/
}
.hidden{
    opacity: 0;
    transition: all 2s;
}
.show{
    opacity: 1;
    animation: scale-center 1.3s;
}
@keyframes scale-center {
  from {transform: scale(0);}
  to {transform: scale(1);}
}

@keyframes slide-right {
  from {transform: translate(-1000px);}
  to {transform: translate(0);}
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

#titulo{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    color: #ffffff;
    padding: 0 0 10rem 0;    
    background-image: linear-gradient(rgba(7, 12, 0, 0.5), rgba(7, 12, 0, 0.5)), url("/img/fotos-danis/mainFondo.jpeg");    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    /*animation: change 30s ease-in-out infinite alternate-reverse forwards;*/
}
#titulo h1{
    color: #FBAF53;
}
.contenido{  
    position: relative;
    z-index: 1;
}
#bg-titulo{
    z-index: -1;
}
#titulo h1,h2,h3{
    margin: 0;
    padding: 1rem 0;
}
.frase{
    height: 20vh;
    background-color: var(--bg-color);
    padding: 5rem 0;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.frase img{
    width: 8%;
}
.frase p{
    margin: 0;
}
#time{
    color: #ffffff;
    background-image: linear-gradient(rgba(5, 7 , 12, 0.3), rgba(5, 7, 12, 0.3)), url('/img/fotos-danis/WhatsApp\ Image\ 2025-07-12\ at\ 6.05.03\ PM\ \(2\).jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}
/*
#bg-time{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    background-image: linear-gradient(rgba(5, 7 , 12, 0.5), rgba(5, 7, 12, 0.5)), url('/img/GUCdskcb0AM4iOU.jpeg');    
    background-size: cover;
    background-position: center center;
    z-index: -1;
    transform: translate3d(0, 0, -1px) scale(2);
}*/
#time-counter{
    display: flex;
    padding: 0 0 2rem 0;
}
.simply-section{
    background-color: none;
    margin: 4rem 2rem 0 2rem;
}
.simply-amount{
    display: block;
    font-size: 4rem;
    font-weight: 700;
}
.simply-word{
    font-size: 3rem;
    font-weight: 300;
}
#date-info{
    background-color: var(--second-bg-color);
    color: #ffffff;
}
#date-info p{
    color: var(--texto);
}

#date-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#date-container div img{
    width: 30%;
}
#date-info img{
    width: 60%;
    border-radius: 2rem;
}
#date-info p{
    margin: 2.5rem 0;
}
.btnInfo{
    margin: 4rem 0;
}
.btnInfo a, input[type="button"], button{
    font-size: 2.2rem;
    color: #000000;
    padding: 1.2rem 1.2rem;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: .5rem;
}
.btnInfo a > img{
    width: 2.2rem;
}
#asistencia {
    color: #ffffff;
    background-image: linear-gradient(rgba(5, 7 , 12, 0.65), rgba(5, 7, 12, 0.65)), url('/img/ranita.jpeg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 3rem 0;

}
#vestimenta{
    color: #ffffff;
    background-color: var(--second-bg-color);
    padding: 0 0 3rem 0;
}
#vestimenta h4, #vestimenta p{
    color: var(--texto);
}
#vestimenta img{
    width: 20%;
}
#vestimenta hr{
    width: 40%;
}
#regalos{
    color: #ffffff;
    background-image: linear-gradient(rgba(5, 7 , 12, 0.65), rgba(5, 7, 12, 0.65)), url('/img/pexels-pixabay-264787.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 0 3rem 0;
}
#regalos img{
    width: 15%;
}
#galeria{
    color: #ffffff;
    background-color: var(--second-bg-color);
    padding: 0 0 3rem 0;
}
#galeria p{
    color: var(--texto);
}
.gift{
    width: 25%;
}
span.PIN_1753733900787_embed_grid.PIN_1753733900787_c5 {
    max-width: 1200px;
    min-width: 300px;
}
span.PIN_1753733900787_embed_grid{
    width: 400px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 250px);   
    justify-content: center;
}
@media screen and (max-width: 992px){
    h1{
        font-size: 6rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 4rem;
    }
    h4{
        font-size: 3rem;
    }
    p{
        font-size: 2.2rem;
    }
    .container{
        max-width: 900px;
    }
    .cover, .center{
        justify-content: flex-start;
    }
    .frase img{
        width: 20%;
    }
    #vestimenta img{
        width: 40%;
    }
    #time img{
        width: 25%;
    }
    #time-counter {
        padding: 0;
    }
    #cita p, #fecha p{
        font-size: 2rem;
    }
    #fecha p{
        font-size: 2.2rem;
    }
    .info {
        grid-template-columns: repeat(1, 1fr);
    }

    .info img{
        max-width: 25rem;
    }
    .simply-section{
        height: 10rem;
        margin: 2rem 1rem 0 1rem;
    }
    .simply-amount{
        display: block;
        font-size: 2rem;
        font-weight: 700;
    }
    .simply-word{
        font-size: 1.5rem;
        font-weight: 300;
    }
    .cards{
        grid-template-columns: repeat(5, 250px);
        gap: 12rem;
        overflow-y: hidden;
        padding: 0 6rem;
        justify-content: unset;
    }
    .card{
        color: #000000;
    }
    #date-container{
        flex-direction: column;
    }
    #date-info img{
        width: 60%;
    }
    #date-container div img{
        width: 35%;
    }
    span.PIN_1753733900787_embed_grid.PIN_1753733900787_c5 {
        max-width: 1200px;
        min-width: 200px;
    }
    span.PIN_1753733900787_embed_grid{
        width: 250px;
    }
}